<html>
	<head>
		<title>My express app</title>
		<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script src="js/main.js"></script></script>
	<style>
		 body {
			 background-color: #f5f5f5;
			 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			 font-size: 12px;
		 }
		 .svg-chart .background {
			 shape-rendering: crispEdges;
			 stroke: #ccc;
			 fill: #fdfdfd;
			 stroke-width: 1px;
		 }
		 .svg-chart .bar { fill: #4682B4; }
	 </style>
	</head>
	<body>
